<html>
    <%-include('partials/head.html');%>
    <body>
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
            <div class="megamenu">
                <ul class="single-mega cn-col-4">
                    <li><h5>Entrada</h5></li>
                    <li><a href="#">- Guacamole ___$85.00</a></li>
                    <li><a style="font-size: 13px" href="#">- Queso Fundido, Chorizo, Champ. __$95.00</a></li>
                    <li><a href="#">- Nachos Campiranos Arracheros _$110.00</a></li> 
                    <li><a href="#">- Plato con Fruta, Yogurt y Granola $75.00</a></li>
                    <li><a href="#">- Orden de Quesadillas ___$100.00</a></li>
                    <li><a href="#">- Orden de Chorreadas __$75.00</a></li>
                </ul>
                <ul class="single-mega cn-col-4">
                    <li><h5>Los Almuerzos</h5></li>
                    <li><a href="#">- Huevos al Gusto ___$105.00</a></li>
                    <li><a href="#">- Huevos Motuleños ___$110.00</a></li>
                    <li><a href="#">- Omelet al Gusto ___$110.00</a></li>
                    <li><a href="#">- Chicharrones en Salsa Verde _$115.00</a></li>
                    <li><a href="#">- Higado Encebollado __$115.00</a></li>
                    <li><a href="#">- Lengua Ranchera __$160.00</a></li>
                </ul>
                <ul class="single-mega cn-col-4">
                    <li><h5>Especialidades</h5></li>
                    <li><a href="#">- Chamorro Campesina __$165.00</a></li>
                    <li><a href="#">- Carne Asada a la Leña ___$175.00</a></li>
                    <li><a href="#">- Arranchera ____$180.00</a></li>
                    <li><a href="#">- Costillas BBQ ____$180.00</a></li>
                    <li><a href="#">- Rib Eye ____$280.00</a></li>
                    <li><a href="#">- Parrillada Campesina __$850.00</a></li>
                </ul>
                <ul class="single-mega cn-col-4">
                    <li><h5>Bebidas</h5></li>
                    <li><a href="#">- Café de Olla o Americano __$35.00</a></li>
                    <li><a href="#">- Jugo de Naranja __$45.00</a></li>
                    <li><a href="#">- Chocomilk ____$40.00</a></li>
                    <li><a href="#">- Agua de Sabor ____$30.00</a></li>
                    <li><a href="#">- Botella de Agua __$20.00</a></li>
                    <li><a href="#">- Refrescos ___$30.00</a></li>
                </ul>
            </div>
        </li>

        <%-include('partials/footer.html');%>
    </body>
</html>